body
{
 
}

#title
{
  text-align:center;
}

#menuScreen
{
  margin-left:23%;
  margin-bottom:5%;
}

button
{
  font-size: 24px;
  font-weight:7900;
}

h2
{
  margin:auto;
  width:295px;
  margin-bottom:13px;
}

textarea
{
  margin-bottom:15px;
}

#app
{
  margin:auto;
  width:770px;
  background:lightblue;
}

.countContainer
{  

}

#countElements
{
  display:flex;
}

#countElements div
{
 
}

#countElements div p 
{
  width:400px;
}

p.letters,#letterCount,#wordCount,span.words,#countElements span
{
  margin-top:10px;
  font-weight:700;
  font-family:'Source Sans Pro', sans-serif;
  font-size: 22px;
}

span.words
{

}

#countWhole
{
  display: flex;
}

#letterCount
{

}

#wordCount
{
   
}

.counts
{
  width:400px;
}

.radioContainer
{
  display:flex;
  flex-direction:row;
  margin-top:1%;
}

#sort
{
  margin-bottom:2%;
}

#sort div
{
  font-family:'Source Sans Pro', sans-serif;
  margin-left:3%;
}

#search 
{
  display:flex;
}

#search div
{
  width:372px;
}


.searchbar
{
 
  border:2px gray ridge;
  border-radius:3px;
  background-color:#e0e0de;

}

#lettersCount,#wordsCount
{
  overflow-y:auto;
  overflow-x:hidden;
  width:400px;
  height:450px;
  border:2px black ridge;
  padding-left:8px;
}

#wordsCount
{

}

@media screen and (max-width: 955px)
{
  
}

::-webkit-scrollbar {
  width:8px;
}

/* Track */
::-webkit-scrollbar-track {
  background:#36403e; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#868a89;
  border-radius:6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {

}